/* Mantén las clases originales para la funcionalidad del componente y agrega tus personalizaciones */

/* Estilos personalizados para el formulario */
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para el botón de búsqueda */
.cmp-search__button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilos para el input de texto */
.input {
    flex-grow: 1;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilos para el botón de limpiar */
.reset {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}

/* Estilos del ícono de limpiar */
.reset svg {
    width: 24px;
    height: 24px;
}

/* Opcional: Estilo para indicar el estado activo del campo */
.input:focus {
    border-color: #0073e6;
    outline: none;
}
