@import '../site/variables';

#footer.cmp-footercontainer {
    font-family: $font-family;
    background: $color-background-2;
    width: 100%;
    padding: 2rem;
    display: flex;
    font-size: 1rem;
}