#header.cmp-image {
  max-width: 25%;
  display: block;
  margin: 0 auto;
}

#footer-img.cmp-image{
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

.cmp-image {
  max-width: 30%;
  display: block;
  margin: 0 auto;
}

img.cmp-image:not([id]) {
  max-width: 30%;
  display: block;
  margin: 0 auto;
}

.cmp-image__link {}
.cmp-image__image {}
.cmp-image__title {}