.cmp-text {
}

.cmpt-text-white{
    color: #f5efdf;
}

.cmp-text-center {
    text-align: center;
}

#footer.cmp-text, #footerabout.cmp-text {
    color: #f5efdf;
    font-size: 0.8rem;
    text-align: center;
}

.cmp-text__paragraph {}