@import '../site/variables';

.cmp-title {}

#main-title.cmp-title {
  color: $color-background-2;
  font-size: 1rem;
  font-family: $font-family;
  text-align: center;
}

.cmp-title__text {}
.cmp-title__link {}