@import 'variables';
//== Base

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    //background: $color-background-2;

    @media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    }
}

body{
    background:  $color-background;
}

footer{
    background: $color-background-2;
}

a {
    //color: $color-link;
    color: $color-link-2;

    @media (prefers-color-scheme: dark) {
        color: $color-link-dark-2;
    }
}

button,
input,
optgroup,
select,
textarea,
text,
title {
    font: inherit;
    font-family: $font-family;
}
